* {
    bg:        #2B2B2B;
    bg-alt:    #565656;
    fg:        #B3B3B3;
    fg-alt:    #848484;
    accent:    #E0E0E0;
}

window {
    background-color: @bg-alt;
    border: 2px;
    border-color: @bg;
    border-radius: 0px;
    padding: 2px;
    width: 25%;
}

mainbox {
    children: [ inputbar, listview ];
}

inputbar {
    background-color: @bg-alt;
    text-color: @fg;
    padding: 2px;
    border-radius: 0px;
}

listview {
    lines: 6;
    spacing: 2px;
    scrollbar: false;
}

element {
    padding: 2px;
    border-radius: 0px;
    text-color: @fg;
}

element selected {
    background-color: @bg-alt;
    text-color: @accent;
}

element-text {
    vertical-align: 0.5;
}

prompt {
    text-color: @accent;
}
